# Easier navigation: .., ..., ...., .....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# redo previous command with sudo
alias fuck='sudo $(history -p \!\!)'

## Remove directory
alias rd="rm -rf"

## Directory listings
alias ll="ls -la"

## Gradle
alias gdl="gradle"

## Start a simple HTTP Server
alias server="open http://localhost:8000/ && python -m SimpleHTTPServer"
