## SDKs ##
export JAVA_6_HOME=`/usr/libexec/java_home -v 1.6`
export JAVA_7_HOME=`/usr/libexec/java_home -v 1.7`
export JAVA_8_HOME=`/usr/libexec/java_home -v 1.8`
export JAVA_HOME=$JAVA_7_HOME
export GROOVY_HOME=/usr/local/Cellar/groovy/2.3.7/libexec

export GOPATH=~/.gopath

export MYSQL_HOME=/usr/local/Cellar/mysql55/5.5.30

## PATH ##
export PATH=~/bin:/usr/local/bin:/usr/local/sbin:$JAVA_HOME/bin:$PATH

export MAVEN_OPTS="-Xmx512m -XX:MaxPermSize=128m"

export SVN_EDITOR=vim

export DOCKER_TLS_VERIFY=1
export DOCKER_CERT_PATH=$HOME/.docker/machine/machines/default
export DOCKER_HOST=tcp://192.168.99.100:2376
export DOCKER_MACHINE_NAME=default

## Signing ##
## Activate gpg agent ##
eval $(gpg-agent --daemon --no-grab --write-env-file $HOME/.gpg-agent-info)
export GPG_TTY=$(tty)
export GPG_AGENT_INFO

export NVM_DIR="/Users/bene/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm
