## Open man page as PDF
pman () { man -t "${1}" | open -f -a "Preview"; }

## Show the location of a linked program
ref() { readlink $(which "${1}"); }

## Output MANIFEST for the given jar
manifest() { unzip -q -c "${1}" META-INF/MANIFEST.MF; }

## Output LINCENSE file for the given jar
license() { unzip -q -c "${1}" META-INF/LICENSE.txt; }

## auto detect git ignore
## requires bash 4!
## Note that bash 4 has to be defined as login shell. On Mac OS this has to be
## done via System preferences > Users > right click our profil picture > extended options
gitignore() {
  declare -A files
  files["pom.xml"]=maven
  files["build.gradle"]=gradle
  files["build.sbt"]=sbt
  files["Cargo.toml"]=rust

  for file in "${!files[@]}"
  do
    if [[ -f $file ]]
    then
      echo "Adding $file files to .gitignore."
      gibo ${files[$file]} >> .gitignore
    fi
  done
}

# Create a README.md file for the current directory
readme() {
  project_name=$(basename $PWD)
  cat > README.md << EOF
# $project_name

Welcome to $project_name!

## Contribution policy

Contributions via GitHub pull requests are gladly accepted from their original author. Along with any pull requests, please state that the contribution is your original work and that you license the work to the project under the project's open source license. Whether or not you state this explicitly, by submitting any copyrighted material via pull request, email, or other means you agree to license the material under the project's open source license and warrant that you have the legal authority to do so.

## License

This code is open source software licensed under the [Apache 2.0 License](https://www.apache.org/licenses/LICENSE-2.0.html).

EOF
}

## Push current git project to github
githubinit() {
  gh repo create
  git push -u origin master
}

## Initialize a new project
projectinit () {
  alv2
  gitignore
  readme
  git this
  githubinit
}
