'*':
  'exception-reporting':
    'userId': 'cb956b10-11d8-a504-3f83-3a6ef31a263a'
  'release-notes':
    'viewedVersion': '0.79.0'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': '99095a4be24cf0f1229970235870b3b1bad578f7'
  'editor':
    'showInvisibles': true
    'invisibles': {}
  'core':
    'ignoredNames': [
      '.git'
      '.svn'
      '.DS_Store'
    ]
